#blueBarNAXAnchor._4f7n {
  -webkit-box-shadow: none;
  background: #FFFBF5 none center center no-repeat;
  border-bottom: 1px solid #DEDBD5;
  transition: opacity 0.25s;
  opacity: 0.1;
}
#blueBarNAXAnchor._4f7n:hover {
  opacity: 1;
}

#pagelet_trending_tags_and_topics {
  display: none;
}

#leftCol, #rightCol {
  transition: opacity 0.25s;
  opacity: 0.1;
}

#leftCol:hover, #rightCol:hover {
  opacity: 1;
}

body._5vb_, body._5vb_ #contentCol {
  background-color: #fafafa;
}

#blueBarNAXAnchor._4f7n::after {
  background-image: none;
}

body ._4-u2 {
  border-radius: 0;
  -webkit-border-radius: 0;
  border-color: #DEDBD5;
}

body ._4w96._585- {
  border-color: #DEDBD5;
}

body ._585- ._4w98 {
  display: none;
}

#blueBarNAXAnchor ._3zm- a {
  text-shadow: none;
  color: #DEDBD5;
}

#u_0_e {
  display: none;
}

#pagesNav, #appsNav, #groupsNav, #listsNav, #interestsNav, #eventsNav {
  display: none;
}

#pagelet_rhc_footer {
  display: none;
}
